/*
http://www.colourlovers.com/palette/878372/a_hundred_of_%E2%99%A5
E9DFCC
F3A36B
CD5B51
554865
352630
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #E9DFCC;
  color: #352630;
  margin: 0;
  height: 100%;
}

.content {
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

header {
  font-family: Chalkduster;
  padding-left: 10px;
}

header h1 {
  font-size: 34px;
  margin: 10px 0;
}

header h2 {
  font-size: 20px;
  margin: 5px 0 15px 0;
  font-weight: normal;
  color: #554865;
}

nav {
  font-family: Herculanum;
  float: left;
  width: 150px;
  margin-left: -150px;
  text-align: right;
}

nav li {
  list-style-type: none;
}

nav .links {
  padding-left: 0;
}

nav .links li {
  margin-bottom: 15px;
}

nav .links a {
  display: inline;
  padding: 4px 6px 4px 10px;
  border-top-left-radius: 6px 10px;
  border-bottom-left-radius: 6px 10px;
  background: #554865;
  color: #E9DFCC;
  text-decoration: none;
}

article {
  background: #f9f9f9;
  padding: 1px 10px 1px 70px;
}

article date {
  float: left;
  width: 50px;
  margin-left: -60px;
  margin-top: 15px;
  text-align: center;
}

article date .month {
  font-size: 20px;
}

article date .day {
  font-family: georgia;
  font-size: 32px;
  font-weight: bold;
  line-height: 24px;
  color: #CD5B51;
}

article date .year {
  line-height: 30px;
}
